.custom-user-img{
  height: 150px;
}
.custom-dk-color{
  color: #f8b914;
}
.custom-dk-bg-color{
  background: #8CC63F;
}
.custom-dk-bg-color-black{
  background: #1c1c1c;
}
.sidebar-content .card .card-body .nav-sidebar .nav-item-header i{
  display: inline-block !important;
}
.sidebar-content .card .card-body .nav-sidebar .nav-item-header button{
  margin: 0 !important;
  padding: 0 !important;
}

//w-a changes
.contained-text{
  max-width: 240px;
  overflow-wrap: break-word;
}
.sidebar-custom-right{
  top: 54px !important;
  overflow-y: auto;
}
.sidebar-custom-right-admin{
  overflow-y: auto;
  position: sticky !important;
}

@media (max-width: 576px) {
  .sidebar-custom-right{
    //position: static !important;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .sidebar-custom-right{
    position: sticky !important;
  }
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}